<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byType">

	<!-- Defining a bean for replacement of property values. -->
	<bean id="propertyConfigurer" autowire="no"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>/WEB-INF/spring/database.properties</value>
				<value>/WEB-INF/spring/hibernate.properties</value>
			</list>
		</property>
	</bean>


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${database.driverClassName}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
		<property name="initialSize" value="${database.initialSize}" />
		<property name="maxActive" value="${database.maxActive}" />
		<property name="maxIdle" value="${database.maxIdle}" />
	</bean>

	<bean id="baseSessionFactory" abstract="true">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
			</props>
		</property>
	</bean>

	<bean id="localSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		parent="baseSessionFactory">
		<property name="annotatedClasses">
			<list>
				<value>com.compannex.model.Category</value>
				<value>com.compannex.model.CategoryTranslation</value>
				<value>com.compannex.model.Company</value>
				<value>com.compannex.model.CompanyCountry</value>
				<value>com.compannex.model.CompanyTranslation</value>
				<value>com.compannex.model.Country</value>
				<value>com.compannex.model.CountryTranslation</value>
				<value>com.compannex.model.Feedback</value>
				<value>com.compannex.model.Industry</value>
				<value>com.compannex.model.IndustryTranslation</value>
				<value>com.compannex.model.Language</value>
				<value>com.compannex.model.News</value>
				<value>com.compannex.model.NewsTranslation</value>		
				
			</list>
		</property>
	</bean>
   
    <bean id="newsDao" class="com.compannex.dao.impl.NewsDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="newsTranslationDao" class="com.compannex.dao.impl.NewsTranslationDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="industryDao" class="com.compannex.dao.impl.IndustryDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="industryTranslationDao" class="com.compannex.dao.impl.IndustryTranslationDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="categoryDao" class="com.compannex.dao.impl.CategoryDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="categoryTranslationDao" class="com.compannex.dao.impl.CategoryTranslationDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="companyCountryDao" class="com.compannex.dao.impl.CompanyCountryDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="companyDao" class="com.compannex.dao.impl.CompanyDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="companyTranslationDao" class="com.compannex.dao.impl.CompanyTranslationDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="countryDao" class="com.compannex.dao.impl.CountryDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="countryTranslationDao" class="com.compannex.dao.impl.CountryTranslationDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="feedbackDao" class="com.compannex.dao.impl.FeedbackDaoImpl">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>
	
	<bean id="industryMethods" class="com.compannex.biz.IndustryMethods">
        <property name="industryDao" ref="industryDao"/>
        <property name="industryTranslationDao" ref="industryTranslationDao"/>
        <property name="categoryTranslationDao" ref="categoryTranslationDao"/>
        <property name="categoryDao" ref="categoryDao"/>
    </bean>

	<bean id="countryMethods" class="com.compannex.biz.CountryMethods">
        <property name="countryDao" ref="countryDao"/>
        <property name="countryTranslationDao" ref="countryTranslationDao"/>
    </bean>

	<bean id="partnerMethods" class="com.compannex.biz.PartnerMethods">
        <property name="companyCountryDao" ref="companyCountryDao"/>
        <property name="companyDao" ref="companyDao"/>
        <property name="companyTranslationDao" ref="companyTranslationDao"/>
    </bean>
    
	<bean id="newsMethods" class="com.compannex.biz.NewsMethods">
        <property name="newsDao" ref="newsDao"/>
        <property name="newsTranslationDao" ref="newsTranslationDao"/>
    </bean>

	<!-- Hibernate Template bean that will be assigned to DAOs. -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative 
		to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="localSessionFactory" />
	</bean>

</beans>